@page "/Friends"
@using PortfolioWebApp.Models.Entities
@using PortfolioWebApp.Services
@using PortfolioWebApp.Shared

@inject FriendshipService FriendshipService
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudGrid>
        <!-- Left side -->
        <MudItem xs="12" md="8" Style="background-color:#6f42c1">
            <span>under construction</span>
        </MudItem>

        <!-- Right side -->
        <MudItem xs="12" md="4">
            
            <MudContainer MaxWidth="MaxWidth.ExtraSmall" Style="height: calc(100vh - 48px); padding: 16px 0 16px 0;">
                <MudCard Elevation="4" Style="height: 100%; display: flex; flex-direction: column;">
                    <MudCardContent Style="flex: 1; display: flex; flex-direction: column; overflow: hidden;">

                        <MudText Typo="Typo.h6" Class="mb-1">Your Friends</MudText>

                        <div>
                            <!-- put inside a div to prevent auto growing-->
                            <MudTextField
                                Class="mb-2"
                                @bind-Value="_query"
                                Immediate="true"
                                Placeholder="Search..."
                                Variant="Variant.Text"
                                FullWidth="true"
                                AdornmentIcon="@Icons.Material.Filled.Search"
                                Adornment="Adornment.Start"/>
                        </div>

                        <MudList T="UserDto" Style="flex: 1; overflow-y: auto;">
                            @if (!_initialized) {
                                <MudText>Loading Friends...</MudText>
                            }
                            else {
                                @foreach (var friend in friendsList) {
                                    if (friend.username.ToLower().Contains(_query.ToLower())) {
                                        <MudListItem>
                                            <div class="d-flex align-items-center gap-2">
                                                <MudAvatar Size="Size.Medium"/>
                                                <MudText>@friend.username</MudText>
                                            </div>
                                        </MudListItem>
                                    }
                                }
                            }
                            
                        </MudList>
                    </MudCardContent>
                </MudCard>
            </MudContainer>
        </MudItem>
        
    </MudGrid>
</MudContainer>

@code {
    private bool _initialized;
    private string _query = string.Empty;
    private List<UserDto> friendsList = new();

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender && !_initialized) {
            _initialized = true;
            string myUsername = AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.Name;
            List<UserDto> myFriends = FriendshipService.GetFriendsOfUser(myUsername);
            friendsList.AddRange(myFriends);
            await InvokeAsync(StateHasChanged);
        }
    }
}
