<MudPaper Class="d-flex flex-column justify-center align-center" Style="height: calc(100vh - 48px);" Color="Color.Primary">
    <div style="transform: translateY(-20%); display: flex; flex-direction: column; align-items: center; gap: 12px;">
        <MudIcon Icon="@Icons.Material.Filled.Chat" Style="font-size: 96px; width: 8rem; height: 8rem;" />
        <MudText Typo="Typo.h4" Class="text-white">Chats</MudText>
        <MudText Typo="Typo.subtitle1" Class="text-white">Search or start a new Chat</MudText>
    </div>
</MudPaper>