@page "/Home"

@using PortfolioWebApp.Components.Layout
@layout MainLayout


<h3>Welcome to your Web Application!</h3>
<p>
    This is the home page. You can start navigating through the app using the menu.
</p>
